#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  margin: 0 auto;
  width: 100%;
  padding: 13px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: none;
}

.main {
  padding-top: 60px;
  padding-bottom: 120px;
}
