.btn-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  padding: 8px 40px;
  border-radius: 8px;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
}

.btn-cart-icon {
  margin-left: 10px;
}

.veg-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;

  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0;

  background-color: #ffffff;
  color: #000000;
}
